.property-card-details {
    padding-bottom: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    line-height: 1.3;
}

.card-location {
    display: flex;
    align-items: center;
    color: #666;
    margin-bottom: 10px;
}

.location-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    color: #A0C0FF;
}

.location-text {
    font-size: 14px;
    margin: 0;
    line-height: 1;
}

.card-description {
    font-size: 13px;
    color: #777;
    margin: 0;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.property-card-footer {
    border-top: 1px solid #eee;
    padding-top: 16px;
    margin-top: 10px;
}


.price-and-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-text {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.detail-button {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.detail-button:hover {
    background: #333;
}

.property-card-footer {
    border-top: 1px solid #eee;
    padding-top: 16px;
    margin-top: 10px;
}

.price-and-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-text {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.detail-button {
    background: 0A41FF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.detail-button:hover {
    background: #333;
}