/* src/components/organisms/FaqSection.css (Width is 1000px) */
.faq-section-wrapper {
    padding: 50px 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.faq-header {
    text-align: center;
    margin-bottom: 30px;
}

.faq-title {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.accordion-container {
    width: 100%;
    max-width: 1000px;
    /* Wider container */
}