.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.first h1 {
    color: black;
    margin: 0;
    font-size: 32px;
}

.header a {
    margin: 0 20px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    line-height: 1;
}

.header-line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.header .logo {
    height: 70px;
    width: 200px;
}