.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.first h1 {
    color: black;
    margin: 0;
    font-size: 32px;
}

.header a {
    margin: 0 20px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    font-family: sans-serif;
    position: relative;
}

.header .logo {
    height: 70px;
    width: 200px;
}

.navBar a::after{
    content: '';
    height: 2px;
    width: 0;
    background: #3674fd;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

.navBar .buttonLogIn a::after{
    background: none;
}

.navBar a:hover::after{
    width: 100%;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .buttonLogIn{
    display: flex;
    border: 1px solid #3674fd;
    background-color: #3674fd;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    justify-content: center;
}

.navBar .buttonLogIn a{
    margin-right:5px ;
    color: white;
}

