.home-banner {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg,
            #0A41FF 0%,
            #0A46E3 50%,
            #0B4CCB 100%);
    color: white;
    padding: 0px 20px;
}

.home-banner h1 {
    font-size: 48px;
    font-weight: 600;
    max-width: 800px;
    margin-bottom: 16px;
}

.home-banner p {
    font-size: 18px;
    opacity: 0.9;
    max-width: 850px;
    margin-bottom: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding: 6px;
    border-radius: 16px;
    width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.search-input {
    flex: 1;
    border: none;
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    background: #f5f5f5;
}

.search-button {
    background: black;
    color: white;
    border: none;
    padding: 14px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}